.background-header{
    text-align: center;
    padding-top: 1px;

    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/70/72/5257b6c12d89875.jpg');
    background-size: cover;
    width: 100vw;
    height: 100px;
}
.aside{
    width: 200px;
    float: left;
}
.between-aside{
    width: 900px;
    float: left;
}
section{
    clear: left;
}
}